html
{
height:100%;
font-family:"arial";
}

body
{
color:#888;
background-color:#222;
height:95%;
display:flex;
-webkit-display:flex;
}

.container
{
display:flex;
-webkit-display:flex;
}

.one
{
height:20%;
}


.two
{
height:80%;
}

.item
{
margin:5px;
background-color:#333;
border:5px solid #555;
display:flex;
-webkit-display:flex;
}

body
{
-webkit-flex-flow:column wrap;
flex-flow:column wrap;
}

container
{
-webkit-flex-flow:row wrap;
flex-flow:row wrap;
}

.logo
{
flex:1;
-webkit-flex:1;
}

.title
{
flex:5;
-webkit-flex:5;

}

.menu
{
margin:5px;
background-color:#333;
border:5px solid #555;
flex:1;
-webkit-flex:1;
}

.content
{
flex:6;
-webkit-flex:6;
}


a{text-decoration:none;}

a:active
{
color:#888;
}

a:visited
{
color:#888;
}

a:hover
{
color:#BBB;
}