/*    Widget METEO    */
/*--------------------*/

#date,#heure,.current,.prevision
{
display:-webkit-flex;
-webkit-justify-content:center;
}


#date
{
-webkit-flex:1;
-webkit-align-items:flex-end;
}

#heure
{
-webkit-flex:3;
-webkit-align-items: flex-start;
}

.current{
-webkit-align-items: center;
-webkit-flex:4;
-webkit-flex-wrap:wrap;
}

.prevision
{
padding-bottom:30px;
-webkit-flex:2;
-webkit-align-items:flex-end;
}

.pictocurrent
{
width:100%;
-webkit-flex:1;
}

.tempcurrent
{
-webkit-flex:1;
text-align:right;
}

.condition
{
border:1px solid transparent;
-webkit-flex:2 100%;
}

.prev{
-webkit-flex:1;
}




.pictoprev
{
width:90%;
}

.dayprev{text-ailgn:center;}


@media all and (min-width:1280px)
{
#date{font-size:10pt;}
#heure{font-size:36pt;}
.tempcurrent{font-size:24pt;}
.condition{font-size:8pt;}
.tempprev{font-size:6pt;}
.dayprev{font-size:6pt;}
}

@media all and (min-width:1440px)
{
#date{font-size:11pt;}
#heure{font-size:42pt;}
.tempcurrent{font-size:26pt;}
.condition{font-size:10pt;}
.tempprev{font-size:8pt;}
.dayprev{font-size:8pt;}
}

@media all and (min-width:1920px)
{
#date{font-size:15pt;}
#heure{font-size:54pt;}
.tempcurrent{font-size:40pt;}
.condition{font-size:14pt;}
.tempprev{font-size:10pt;}
.dayprev{font-size:10pt;}
}