/*    Widget METRO    */
/*--------------------*/
                    "<label class='halfitem line'>{{metro.id}}</label>"
                    "<label class='halfitem direction'>{{metro.destination}}</label>"
                    "<div class='temps1'>{{metro.time[0]}}</div>"
                    "<div class='temps2'>{{metro.time[1]}}</div>"
                    "</article>"

.sub.stib
{

}

.title2
{
-webkit-flex:1;
flex:1;
margin:10px 0px 0px 0px;
}

.station
{
padding:5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
display:-webkit-flex;
display:flex;
-webkit-flex:2;
flex:2;
-webkit-flex-wrap:wrap;
flex-wrap:wrap;
-webkit-align-items: stretch;
margin-bottom:20px;
background-color:#555;
}

.time{
display:-webkit-flex;
display:flex;
-webkit-justify-content:center;
-webkit-align-items: center;
-webkit-flex:1 40%;
flex:1 40%;
background-color:#333;
}

.line{
color:white;
display:-webkit-flex;
display:flex;
-webkit-justify-content:center;
-webkit-align-items: center;
 -webkit-flex:1 10%;;
flex:1 10%;
}

.num1{background-color:#C4008F;}

.num79{background-color:#36578C;}

.direction{
color:#BBB;
display:-webkit-flex;
display:flex;
-webkit-justify-content:center;
-webkit-align-items: center;
-webkit-flex:1 60%;
flex:1 60%}



@media all and (min-width:1280px)
{
.title2{font-size:9pt;}
.line{font-size:11pt;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.direction{font-size:6pt;}
.time{font-size:16pt;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin:10px 5px 5px 5px;}

}

@media all and (min-width:1440px)
{
.title2{font-size:10pt;}
.direction{font-size:7pt;}
}

@media all and (min-width:1920px)
{
.title2{font-size:14pt;}
.line{font-size:16pt;-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;}
.direction{font-size:10pt;}
.time{font-size:24pt;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin:10px 5px 5px 5px;}
}